body {
    margin: 0;
    background: #CAC4CE;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 20px;
    color: #232B57;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.search-box input {
    width: 400px;
    padding: 10px;
}

.search-box button {
    width: 40px;
}

.board {
    margin-top: 20px;
    width: 600px;
    background: #232B57;
    color: white;
    padding: 20px;
}

.hidden {
    display: none;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}