<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>갤창 랭킹</title>

    <link rel="icon" href="/favicon.png">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>갤러리 랭킹</h1>

    <div class="input-box">
        <input id="urlInput" placeholder="갤러리 URL 입력">
        <button onclick="runCrawl()">조회</button>
    </div>

    <table>
        <thead>
            <tr>
                <th>순위</th>
                <th>닉네임</th>
                <th>ID</th>
                <th>글수</th>
                <th>지분</th>
            </tr>
        </thead>
        <tbody id="resultBody"></tbody>
    </table>

</div>

<script src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>